/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
    margin: 0;
    padding: 0;
    display: block;
}

.navbar-right {
    margin-top: 2px;
}

.header {
    height: 130px;
}

body {
    max-width: 970px;
    min-width: 360px;
    margin: auto;
    padding: auto;
}



