/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
    margin: 0;
    padding: 0;
    display: block;
}

.nav-right {
    float: right;
    text-align: center;
    min-width: 125px;
    max-width: 125px;
}

.nav-left {
    float: left;
    text-align: center;
    min-width: 125px;
    max-width: 125px;
}

.navbar-nav {
    margin: 7.5px -3px;
}

.header {
    height: 130px;
}

body {
    max-width: 970px;
    min-width: 360px;
    margin: auto;
    padding: auto;
}



